.home-container{
    margin-top: 100px;
 }
 
 .home-container h1{
    line-height:1.5;
 }

 .home-title{
   color: #9e3b0d;
 }
 
 .home-container img{
    width: 100%;
 }
 
 .text-grey{
    color:grey;
    margin-top: 20px;
}

.button1 {
   width: 10rem;
   border-style: none;
   background-color: #b8733a;
   color: white;
}