.title {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.title2 {
	font-size: 0.9rem;
	display: flex;
    justify-content: center;
	margin-bottom: 3.5rem;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin-bottom: 6rem;
	margin-left: 15rem;
}

.item {
	border-radius: 10px;
	max-width: 20rem;
	margin-bottom: 4rem;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	max-width: 20rem;
	max-height: 20rem;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.item-quantity {
	color: #fff;
	background-color: #f0ad4e;
	display: flex;
	justify-content: center;
	max-width: 100%;
	position: relative;
  }

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

/****** Shopping Cart ********/

.cart-container {
	display: flex;
	justify-content: center;
	margin: 3rem;
	font-size: 1.5rem;
}

@media (max-width: 1450px) {
    .container-items {
        grid-template-columns: repeat(2, 1fr);
		margin-left: 6rem;
    }


}

@media screen and (max-width: 870px) {
    .container-items {
        grid-template-columns: repeat(1, 1fr); 
		margin-left: 15rem;
    }

}

@media screen and (max-width: 680px) {
    .container-items {
        grid-template-columns: repeat(1, 1fr); 
		margin-left: 7rem;
    }

}

@media screen and (max-width: 480px) {
    .container-items {
        grid-template-columns: repeat(1, 1fr); 
		margin-left: 3rem;
    }

}