.cont-form{
    display: flex;
    justify-content: center;
}

.formu2 {
    width: 24rem;
    height: 40rem;
    border-style: solid;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
    background-color: rgb(19, 19, 19);
    opacity: .9;
}

.title-form {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content-form {
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.button-form {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.text2 {
    display: flex;
    font-size: .8rem;
    color: white;
    margin-top: 1rem;
    margin-left: 1.5rem; 
    cursor: pointer;
}