@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-padding-top: 4rem;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
}
:root{
	--primary-color: #bc9667;
	--second-color: #edeae3;
	--text-color: #1b1b1b; 
	--bg-color: #fff; 
}

.image-container {
	display: block;
	text-align: center;
	padding: 0%;
}
.img-home {
	position: relative;
	top: -75px;
	height: auto;
	margin: none;
	
}
.color {
	color: #bc9667;
	padding-top: 2rem;
	padding-right: 5rem;
}
.main-container {
	max-width: 100% !important;
	min-height: 100vh;
	background: url(Coffe-img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
	align-items: center;
	padding-top: 4rem;
}

@media screen and (min-width: 1023px) and (max-width: 1440px) {

	.home-container {
	  margin-top: 150px;
	}
  
	.home-container h1 {
	  font-size: 2.5rem;
	}
  
	.img-home {
	  top: -100px;
	}
  
	.color {
	  padding-right: 7rem;
	}
  }

  /* Estilos para medidas mayores o iguales a 768px y menores o iguales a 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.main-container {
	  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
	  padding-top: 5rem;
	}
  
	.home-container {
	  margin-top: 100px;
	}
  
	.home-container h1 {
	  font-size: 2.2rem;
	}
  
	.img-home {
	  top: -60px;
	}
  
	.color {
	  padding-right: 5rem;
	}
  }

  /* Estilos para medidas menores o iguales a 767px */
  @media screen and (max-width: 767px) {
	.main-container {
	  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
	  padding-top: 3rem;
	}
  
	.img-home {
	  top: 0;
	}
  
	.color {
	  padding-right: 0;
	}
  
	.home-container {
	  margin-top: 70px;
	}
  
	.home-container h1 {
	  font-size: 1.8rem;
	}

	.logo {
	  width: 80%;
	   
	  display: block;
	  margin: 0 auto;
	}

	.icons-container {
		position: absolute;
		top: 80px; 
		right: 0;
		padding-left: 40px;
		display: flex;
		flex-direction: column;
	}
	
  }